.babytouch__itemclass__sounds .babytouch__sound__filename
{
    cursor: move;
}

.babytouch__itemclass__instance .babytouch__sound__controls,
.babytouch__itemclass__item .babytouch__sound__controls
{
    width: 160px;
}

.babytouch__itemclass__instance .babytouch__sound__filename
{
    font-size: smaller;
    margin-top: 26px;
    display: block;
    position:absolute;
}

.babytouch__itemclass__item,
.babytouch__itemclass__instance
{
    margin-top: 15px;
}

.babytouch__itemclass_disabled,
.babytouch__itemclass__instance_disabled
{
    opacity: 0.3;
}

.babytouch__itemclass__instance_main .babytouch__iteminstance__thumbnail
{
    border: 3px solid green;
}

.babytouch__itemclass__instance__controls__edit
{
    width: 24px;
    height: 24px;
    float: right;
    background-image: url("../img/edit.png");
    cursor: pointer;
}

.babytouch__itemclass__instance__controls__set-as-main
{
    width: 24px;
    height: 24px;
    float: right;
    background-image: url("../img/green_ok.png");
    cursor: pointer;
}

.babytouch__itemclass__instance_main .babytouch__itemclass__instance__controls__set-as-main,
.babytouch__itemclass__instance_main .babytouch__itemclass__instance__controls__toggle-enabled
{
    display: none;
}

.babytouch__itemclass__controls__toggle-enabled,
.babytouch__itemclass__instance__controls__toggle-enabled
{
    width: 24px;
    height: 24px;
    margin-right: 6px;
    float: right;
    background-image: url("../img/remove.png");
    cursor: pointer;
}

.babytouch__itemclass_disabled .babytouch__itemclass__controls__toggle-enabled,
.babytouch__itemclass__instance_disabled .babytouch__itemclass__instance__controls__toggle-enabled
{
    background-image: url("../img/add.png");
}

.babytouch__itemclass__controls,
.babytouch__itemclass__instance__controls
{
    display: none;
}

.babytouch__itemclass__item:hover .babytouch__itemclass__controls,
.babytouch__itemclass__instance:hover .babytouch__itemclass__instance__controls
{
    display: inline;
}

.babytouch__iteminstance
{
    margin-top: 15px;
}

.babytouch__iteminstance__thumbnail
{
    cursor: pointer;
}

.babytouch__itemclass__item .babytouch__iteminstance__thumbnail
{
    margin-top: 4px;
}

.babytouch__itemclass__instance .babytouch__iteminstance__thumbnail
{
    margin-top: 24px;
}

.babytouch__iteminstance__thumbnail.selected
{
    border: 3px solid green;
}

.container
{
    width: 1100px;
}

.babytouch__crop__image-container
{
    width: 700px;
    position: relative;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.babytouch__crop__image-to-crop
{
    width: 700px;
}

.babytouch__crop__crop-rectangle
{
    position: absolute !important;
    top: 0px;
    left: 0px;
    height: 300px;
    width: 300px;
    opacity: 0.3;
    background-color: #000;
    border: 2px solid #0F0;
}
