{% extends "base.html" %}
{% load babytouch_tags %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function() {
        init_itemclass_list($(".babytouch__itemclass__item"));
    });
</script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="span9">
        <div class="row-fluid">
            {% for class in classes %}
                {% ifchanged class.group_id %}
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <h3>{{ class.group.title }}</h3>
                        </div>
                    </div>
                    <div class="row-fluid">
                {% endifchanged %}
                <div class="span3 babytouch__itemclass__item {% if not class.is_enabled %} babytouch__itemclass_disabled{% endif %}{% if class.instances_enabled_count > 4 %} babytouch__itemclass_full{% endif %}" data-class-id="{{ class.id }}">
                    <b class="babytouch__itemclass__title">{{ class.title }}</b>
                    <span class="babytouch__itemclass__counters">{{ class.instances_enabled_count }} / {{ class.instances.count }}</span>
                    <span class="babytouch__itemclass__controls">
                        <span class="babytouch__itemclass__controls__toggle-enabled"></span>
                    </span>

                    <a href="{% url "babytouch:itemclass_manage_single" pk=class.pk %}">
                        {% include "babytouch/thumbnail_snippet.html" with instance=class.main_instance %}
                    </a>
                    {% if class.main_instance.sound %}
                    <audio controls preload="none" class="babytouch__sound__controls">
                        <source src="{{ class.main_instance.sound.sound.url }}" type="{% get_media_type class.main_instance.sound.sound.url %}" />
                    </audio>
                    {% endif %}
                </div>

                {% if forloop.counter|divisibleby:4 %}
                </div><div class="row-fluid">
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
