{% extends "base.html" %}
{% load babytouch_tags %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function() {
        init_itemclass($(".babytouch__itemclass"));
    });
</script>
{% endblock %}

{% block content %}
<div class="row babytouch__itemclass" data-class-id="{{ item_class.id }}">
    <div class="span5">
        <h3>Sounds available:</h3>
        <ul class="babytouch__itemclass__sounds">
            {% for sound in available_sounds %}
                <li>
                    <div data-sound-id="{{ sound.pk }}" class="babytouch__sound">
                        <span class="babytouch__sound__filename">{{ sound.filename }}</span>
                        <audio controls preload="none" class="babytouch__sound__controls">
                            <source src="{{ sound.sound.url }}" type="{% get_media_type sound.sound.url %}" />
                        </audio>
                    </div>
                </li>
            {% empty %}
                <li>No sounds available.</li>
            {% endfor %}
        </ul>
        <div class="babytouch__add-sound">
            <form method="post" action="{% url "babytouch:itemclasssound_add" %}">{% csrf_token %}
                {{ add_sound_form.item_class }}
                {{ add_sound_form.sound }}
                <input type="submit" value="Add new sound" />
            </form>
        </div>
    </div>

    <div class="span9">
        <div class="row-fluid">
            <div class="span12">
                <h2>{{ item_class.title }} {{ instances_enabled_count }}/{{ instances_total_count }}</h2>
                (<a href="{% url "admin:babytouch_data_itemclass_change" item_class.id %}">admin</a>)
            </div>
        </div>
        <div class="row-fluid">
            {% for instance in instances %}
                <div class="span3 babytouch__itemclass__instance {% if instance.pk == item_class.main_instance_id %} babytouch__itemclass__instance_main{% endif %}{% if not instance.is_enabled %} babytouch__itemclass__instance_disabled{% endif %}" data-instance-id="{{ instance.id }}">
                    <span class="babytouch__itemclass__instance__controls">
                        <span class="babytouch__itemclass__instance__controls__toggle-enabled"></span>
                        <a href="{% url "admin:babytouch_data_iteminstance_change" instance.id %}" target="_blank"><span class="babytouch__itemclass__instance__controls__edit"></span></a>
                        <span class="babytouch__itemclass__instance__controls__set-as-main"></span>
                    </span>
                    {% include "babytouch/thumbnail_snippet.html" %}
                    {% if instance.sound %}
                    <div class="babytouch__sound">
                        <span class="babytouch__sound__filename">{{ instance.sound.filename }}</span>
                        <audio controls preload="none" class="babytouch__sound__controls">
                            <source src="{{ instance.sound.sound.url }}" type="{% get_media_type instance.sound.sound.url %}" />
                        </audio>
                    </div>
                    {% endif %}
                </div>
                {% if forloop.counter|divisibleby:4 %}
                </div><div class="row-fluid">
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
