{% extends "base.html" %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function() {
        var crop = init_crop({{ instance.image_width }}, {{ instance.image_height }}, {
            aspect_ratio: 16 / 9,
            min_real_width: {{ IMAGE_SCALE.SCALE_100_SIZE.0 }},
            min_real_height: {{ IMAGE_SCALE.SCALE_100_SIZE.1 }},
            input_names: {
                top: "crop_rectangle_top",
                left: "crop_rectangle_left",
                width: "crop_rectangle_width",
                height: "crop_rectangle_height",
            },
            crop_rectangle: {
                top: {{ instance.crop_rectangle_top|default_if_none:"0" }},
                left: {{ instance.crop_rectangle_left|default_if_none:"0" }},
                width: {{ instance.crop_rectangle_width|default_if_none:"0" }},
                height: {{ instance.crop_rectangle_height|default_if_none:"0" }}
            }
        });
    })
</script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="span3">
        <h4>Instances left to crop: {{ instances_without_cropping_count }}</h4>
        <form method="POST" action="" class="babytouch__crop__form">{% csrf_token %}
            {{ crop_form.as_p }}
            <br/>
            <button type="submit" class="btn btn-primary">Set rectangle</button>
        </form>
        {% if next_instance %}
        <a href="{% url crop_urlname instance_pk=next_instance.pk %}">Next</a>
        {% else %}
        Done. <a href="{% url crop_urlname %}">Start again.</a>
        {% endif %}
    </div>
    <div class="span10">
        <div class="babytouch__crop__image-container">
            <img class="babytouch__crop__image-to-crop" src="{{ instance.image.url }}" />
            <div class="babytouch__crop__crop-rectangle"></div>
        </div>
    </div>
</div>
{% endblock %}
