{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery/multiselect/css/multi-select.css" />
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}jquery/multiselect/js/jquery.multi-select.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var thumbnail_element = $(".babytouch__iteminstance__thumbnail");
        var form = $(".babytouch__sort-form");
        var multiselect = form.find('[name="instances"]');
        var class_select = form.find('[name="item_class"]');

        multiselect.multiSelect();

        thumbnail_element.click(function() {
            var instance_id = $(this).attr("data-instance-id");

            if ($(this).hasClass("selected"))
            {
                multiselect.multiSelect("deselect", instance_id);
            }
            else
            {
                multiselect.multiSelect("select", instance_id);
            }
            $(this).toggleClass("selected");
        });

        $(".babytouch__class-top__row").click(function() {
            var class_id = $(this).attr("data-class-id");
            class_select.val(class_id);
        });

    })
</script>
{% endblock %}

{% block content %}

<div class="row">
    <div class="span5">
        <div class="affix">
        <form method="post" action="" class="babytouch__sort-form">{% csrf_token %}
            <select name="item_class">
                {% regroup classes by group as grouped_classes %}
                {% for classgroup in grouped_classes %}
                <optgroup label="{{ classgroup.grouper.title }}">
                    {% for class in classgroup.list %}
                    <option value="{{ class.pk }}">{{ class.title }}</option>
                    {% endfor %}
                </optgroup>
                {% endfor %}
            </select>
            <br/>
            <select name="instances" size=20 multiple id="babytouch__instances__multiselect">
                {% for instance in instances %}
                <option value="{{ instance.pk }}">{{ instance.pk }}</option>
                {% endfor %}
            </select>
            <br/>
            <input class="btn" type="submit" value="Set class" />
        </form>

        <p>
        <h3>Top 10 rarest classes:</h3>
        <table class="table">
            <thead>
                <th>Instances</th>
                <th>Title</th>
                <th>Group</th>
            </thead>
            {% for class in rarest_classes %}
            <tr class="babytouch__class-top__row" data-class-id="{{ class.pk }}">
                <td>{{ class.count_instances }}</td>
                <td>{{ class.title }}</td>
                <td><a href="{% url "admin:babytouch_data_group_change" class.group_id %}">{{ class.group_id }}</a></td>
            </tr>
            {% endfor %}
        </table>
        </p>
        <p>
        <h3>Top 10 fullest classes:</h3>
        <table class="table">
            <thead>
                <th>Instances</th>
                <th>Title</th>
                <th>Group</th>
            </thead>
            {% for class in fullest_classes %}
            <tr>
                <td>{{ class.count_instances }}</td>
                <td>{{ class.title }}</td>
                <td><a href="{% url "admin:babytouch_data_group_change" class.group_id %}">{{ class.group_id }}</a></td>
            </tr>
            {% endfor %}
        </table>
        </p>
        </div>
    </div>
    <div class="span9">
        <h3>Unsorted images left: {{ instances|length }}</h3>
        <div class="row-fluid">
            {% for instance in instances %}
                {% include "babytouch/thumbnail_snippet.html" with cssclasses="span3 babytouch__iteminstance" %}
                {% if forloop.counter|divisibleby:4 %}
                </div><div class="row-fluid">
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
