<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Babytouch{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}babytouch/css/babytouch.css" />
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/ui-lightness/jquery-ui.css" />
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Babytouch</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="{% url "babytouch:instance_sort" %}">Sort</a></li>
              <li><a href="{% url "babytouch:set_cropping_rectangle" %}">Crop</a></li>
              <li><a href="{% url "babytouch:set_thumbnail_cropping_rectangle" %}">Crop thumbnails</a></li>
              <li><a href="{% url "babytouch:itemclass_manage" %}">Manage classes</a></li>
              <li><a href="{% url "admin:babytouch_data_itemclass_changelist" %}">Admin</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container" style="padding-top: 60px;">
{% block content %}{% endblock %}
    </div> <!-- /container -->

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}babytouch/js/babytouch.js"></script>
{% block scripts %}{% endblock %}
  </body>
</html>
